@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400;700;900&display=swap');

:root {
    --border: solid 5px black;
    --border-inside: solid 2.5px black;
    --border-radius: 1rem;
    --border-radius-inside: 0.75rem;
    --text: black;
    --nav: hsl(46, 88%, 57%);
    --nav-transparent: hsla(46, 88%, 57%, 0.75);
    --nav-highlight: #ffe942;
    --page-color: hsla(50, 55%, 85%, 0.848);
    --page-color-highlight: hsla(51, 100%, 76%, 0.942);
    --background: hsl(19, 91%, 50%);
}

/*************** General reset ***************/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Asap', sans-serif;
    user-select: none;
    color: black;
    
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h2 {
    font-weight: 900;
    font-size: 2rem;
}

h1 {
    font-weight:900;
    font-size: 5rem;
    transform: skewX(-10deg);
    /* font-style: italic; */
}

/************************* UI and navigation layout *************************/

.content {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--background);
}
.page-layout {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.page-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 4fr;
    background-color: var(--nav);
}

.page-nav > *{
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    border-right: var(--border);
    cursor: pointer;
}
.page-nav .nav-hours{
    border-bottom: 0;
    padding-inline: 2rem;
    cursor:default;
    justify-content: center;
}

div.nav {
    padding-inline: 3rem;
    transition: all 0.2s ease-in-out;
}

.nav-logo {
    justify-content: center;
    transition: all 0.2s ease-in-out;
    padding-inline: 1.5rem;
}

object.katoAnimation {
    max-width: 100%;
    pointer-events: none;
}
object.boardAnimation {
    max-width: 90%;
}

div.nav:hover,
.nav-logo:hover {
    background-color: var(--nav-highlight);
}

/************************* Changing section *************************/

.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/restaurant-interior.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.menuContainer.slide,
.home-container.slide,
.contactContainer.slide {
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
}

/************************* Home page *************************/

.home-container {
    transform: translateX(-100dvw);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease-in-out;
}

.kato-big {
    scale: 1.3;
}

/************************* Contact page *************************/

.contactContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    transform: translateX(-100dvw);
    overflow: hidden;
    width: 90%;
    height: 90%;
    padding-bottom: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--page-color);
    transition: transform 200ms ease-in-out;
}

.contactSectionDown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.address {
    font-size: 2rem;
}

.contactSectionUp {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding-inline: 2rem;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    border-bottom: var(--border);
}

.telephone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.happy,
.meow {
    font-size: 2.5rem;
    font-weight: 700;
}

.hours,
.book {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
/************************* Menu page *************************/

.menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    transform: translateX(-100dvw);
    overflow: hidden;
    width: 90%;
    height: 90%;
    border: var(--border-inside);
    border-radius: var(--border-radius);
    background-color: var(--page-color);
    transition: transform 200ms ease-in-out;
}

.menuContainer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.menuContainer .menuItem:hover {
    background-color: var(--page-color-highlight);
}

object.logoNigiri,
object.logoRice,
object.logoSquid,
object.logoRamen {
    transform: scale(0.8);
}

.nigiri {
    border-top-left-radius: var(--border-radius-inside);
    border: var(--border-inside);
}

.noodles {
    border-top-right-radius: var(--border-radius-inside);
    border: var(--border-inside);
}

.squid {
    border-bottom-left-radius: var(--border-radius-inside);
    border: var(--border-inside);
}
.rice {
    border-bottom-right-radius: var(--border-radius-inside);
    border: var(--border-inside);
}

