@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400;700;900&display=swap');

:root {
    --border: solid 5px black;
    --border-inside: solid 2.5px black;
    --border-radius: 1rem;
    --border-radius-inside: 0.75rem;
    --text: black;
    --nav: hsl(46, 88%, 57%);
    --nav-transparent: hsla(46, 88%, 57%, 0.75);
    --nav-highlight: #ffe942;
    --background: hsl(19, 91%, 50%);
}

/*************** General reset ***************/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Asap', sans-serif;
    user-select: none;
    color: black;
    
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h2 {
    font-weight: 900;
    font-size: 2rem;
}

/************************* Animations *************************/

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/************************* UI and navigation layout *************************/

.content {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--background);
}
.page-layout {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.page-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 4fr;
    background-color: var(--nav);
}

.page-nav > *{
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    border-right: var(--border);
    cursor: pointer;
}
.page-nav .nav-hours{
    border-bottom: 0;
    padding-inline: 2rem;
    cursor:default;
    justify-content: center;
}

div.nav {
    padding-inline: 3rem;
    transition: all 0.2s ease-in-out;
}

.nav-logo {
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

object.katoAnimation {
    max-width: 100%;
    padding-inline: 1rem;
}
object.boardAnimation {
    max-width: 100%;
}

div.nav:hover,
.nav-logo:hover {
    background-color: var(--nav-highlight);
}

/************************* Changing section *************************/

.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/restaurant-interior.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.kato-big {
    scale: 1.2;
}
.kato-big.fade {
    animation: fade-out 0.3s forwards;
}

/************************* Menu page *************************/

.menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    transform: translateX(-100dvw);
    overflow: hidden;
    width: 90%;
    height: 90%;
    border: var(--border-inside);
    border-radius: var(--border-radius);
    background-color: var(--nav-transparent);
    transition: transform 300ms ease-in-out;
}

.menuContainer.slide {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
}

.menuContainer > * {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menuContainer .menuItem:hover {
        background-color: var(--nav-highlight);
}

.nigiri {
    border-top-left-radius: var(--border-radius-inside);
    border: var(--border-inside);
}

.noodles {
    border-top-right-radius: var(--border-radius-inside);
    border: var(--border-inside);
}

.squid {
    border-bottom-left-radius: var(--border-radius-inside);
    border: var(--border-inside);
}
.rice {
    border-bottom-right-radius: var(--border-radius-inside);
    border: var(--border-inside);
}

